<header class="header">
    <div class="header__logo">Admin Panel</div>

    <nav class="header__nav">

    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>